@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --black: #1C1B1f;
  --gray: #646460;
}

* {
  font-family: 'Afacad Flux';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
